---
layout: casper-base.njk
templateClass: "post-template"
---

<article class="article post">

    <header class="article-header gh-canvas">
        {% if featured_image %}
        <div class="article-image">
            <img src="{{ featured_image }}" alt="{{ title }}" />
        </div>
        {% endif %}

        <div class="article-tag post-card-tags">
            {% if tags %}
                {% for tag in tags %}
                    {% if tag != "posts" and loop.index0 == 0 %}
                    <span class="post-card-primary-tag">{{ tag }}</span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <h1 class="article-title">{{ title }}</h1>

        {% if excerpt %}
        <p class="article-excerpt">{{ excerpt }}</p>
        {% endif %}

        <div class="article-byline">
            <section class="article-byline-content">
                <ul class="author-list">
                    <li class="author-list-item">
                        <div class="author-avatar">
                            {% if author_image %}
                            <img src="{{ author_image | url }}" alt="{{ author }}" />
                            {% else %}
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01-.184-.092Z"/><path fill="currentColor" d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2ZM8.5 9.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0Zm9.758 7.484A7.985 7.985 0 0 1 12 20a7.985 7.985 0 0 1-6.258-3.016C7.363 15.821 9.575 15 12 15s4.637.821 6.258 1.984Z"/></g></svg>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <div class="article-byline-meta">
                    <h4 class="author-name">{{ author or "La Vacación" }}</h4>
                    <div class="byline-meta-content">
                        <time class="byline-meta-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
                        <span class="byline-reading-time"><span class="bull">&bull;</span> {{ (content | striptags | wordcount / 200) | round }} min read</span>
                    </div>
                </div>
            </section>
        </div>
    </header>

    <section class="gh-content gh-canvas">
        {{ content | safe }}
    </section>

</article>
 